header {
    border-bottom: 1px solid #32d4e2;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

label {
    font-size: 20px;
    font-family: Roboto-Regular, sans-serif;
    padding: 6px 6px 6px 6px;
    text-align: center;
    width: 99%;
    margin: 0.2rem 0.2rem !important;
}

button {
    width: 99%;
    margin: 0.2rem 0.2rem;
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    border-radius: 4px;
    position: relative;
    letter-spacing: .1em;
    font-size: 20px;
    font-family: Roboto-Italic, sans-serif;
    cursor: pointer;
}

button:hover {
    width: 99%;
    margin: 0.2rem 0.2rem;
    color: #47A1AA;
    background: transparent;
    border: 1px solid #47A1AA;
    position: relative;
    letter-spacing: .1em;
    font-size: 20px;
    font-family: Roboto-Italic, sans-serif;
    cursor: pointer;
}