.p-shadow-1 {
    box-shadow: none !important;
}
.p-shadow-2 {
    box-shadow: none !important;
}

.p-shadow-3 {
    box-shadow: none !important;
}

.inner {
    display: table;
    margin: 0 auto;
}

.outer {
    width:100%
}