<div>
    <custom-header></custom-header>
    <div id="inner">
        <div id="outer">
            <div class="p-d-flex p-flex-wrap">
            <div class="p-mr-2 p-mb-2">
                <graph></graph>
            </div>
            <div class="p-mr-2 p-mb-2">
                <point-form></point-form>
            </div>
            <div class="p-mr-2 p-mb-2">
                <table></table>
            </div>
        </div>
        </div>
    </div>
    <custom-footer></custom-footer>
</div>
