<div>
    <custom-header></custom-header>
    <div class="p-grid">
        <div class="p-col">
            <div class="box p-shadow-1">
                <div class="inner">
                    <div class="outer">
                        <graph></graph>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div class="box p-shadow-2">
                <div class="inner">
                    <div class="outer">
                        <point-form></point-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div class="box p-shadow-3">
                <div class="inner">
                    <div class="outer">
                        <table></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <custom-footer></custom-footer>
</div>
