.p-col {
    padding: 2px 7px 0px 7px;
    width: 0px;
    height: 30px;
}

.buttons {
    margin-top: 1rem;
}

.p-radiobutton-box .p-highlight {
    visibility: hidden;
}

button {
    width: 100%;
    height: 3rem;
    margin: 0.2rem 0.2rem;
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    border-radius: 4px;
    position: relative;
    letter-spacing: .1em;
    font-size: 20px;
    font-family: Roboto-Italic, sans-serif;
    cursor: pointer;
}

button:hover {
    width: 100%;
    height: 3rem;
    margin: 0.2rem 0.2rem;
    color: #47A1AA;
    background: transparent;
    border: 1px solid #47A1AA;
    position: relative;
    letter-spacing: .1em;
    font-size: 20px;
    font-family: Roboto-Italic, sans-serif;
    cursor: pointer;
}

.labels {
    font-size: 22px;
    font-family: Roboto-Regular, sans-serif;
    text-align: center;
    width: 94%;
    margin: 1.2rem 1.2rem !important;
}

.section {
    margin: 1rem 0.25rem 1rem 0.2rem;
    width: 33rem;
    height: 22rem;
    border: 1px solid #32d4e2;
    border-radius: 6px;
}

.small-labels {
    font-size: 20px;
    font-family: Roboto-Regular, sans-serif;
}

p-inputNumber::ng-deep input {
    width: 31.5rem;
    font-size: 20px;
}

p-radioButton::ng-deep [aria-checked="false"]:after {
    pointer-events: none;
    width: 11px;
    height:11px;
    border-radius: 11px;
    top: -18px;
    left: 4px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #32D4E2;

}
p-radioButton::ng-deep .p-radiobutton-box .p-highlight{
    width: 0px;
}


p-radioButton::ng-deep [aria-checked="true"]:after{
    pointer-events: none;
    width: 11px;
    height:11px;
    border-radius: 11px;
    top: -18px;
    left: 4px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #47A1AA;
}