button {
    width: 100%;
    margin: 0.2rem 0.2rem;
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    border-radius: 4px;
    position: relative;
    letter-spacing: .1em;
    font-size: 20px;
    font-family: Roboto-Italic, sans-serif;
    cursor: pointer;
}

button:hover {
    width: 100%;
    margin: 0.2rem 0.2rem;
    color: #47A1AA;
    background: transparent;
    border: 1px solid #47A1AA;
    position: relative;
    letter-spacing: .1em;
    font-size: 20px;
    font-family: Roboto-Italic, sans-serif;
    cursor: pointer;
}

.labels {
    font-size: 22px;
    font-family: Roboto-Regular, sans-serif;
    /*padding: 6px 10px 6px 10px;*/
    text-align: center;
    width: 99%;
    margin: 0.6rem 1rem !important;
}

.section {
    margin: 1rem 0.25rem 1rem 0.2rem;
    width: 33rem;
    height: 22rem;
    border: 1px solid #32d4e2;
    border-radius: 6px;
}

.small-labels {
    font-size: 20px;
    font-family: Roboto-Regular, sans-serif;
}

/*.p-field-radiobutton {*/
/*    margin-bottom: 0px !important;*/
/*}*/

/*p-inputNumber.ng-valid.ng-touched.ng-dirty {*/
/*    border: 1px solid red !important;*/
/*    background: rgba(255, 0, 0, 0.35);*/
/*    box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.2) inset !important;*/
/*    width: 100%;*/
/*}*/

/*p-inputnumber.ng-dirty.ng-invalid .ui-inputtext{*/
/*    width: 97.5%;*/
/*    font-size: 20px;*/
/*}*/

/*.p-field-radiobutton:after {*/
/*    width: 11px;*/
/*    height:11px;*/
/*    border-radius: 11px;*/
/*    !*top: -18px;*!*/
/*    left: -35px;*/
/*    position: relative;*/
/*    background-color: white;*/
/*    content: '';*/
/*    display: inline-block;*/
/*    visibility: visible;*/
/*    border: 2px solid #32D4E2;*/
/*}*/

/*p-radioButton.p-component.p-radiobutton-checked {*/
/*    width: 11px;*/
/*    height:11px;*/
/*    border-radius: 11px;*/
/*    !*top: -18px;*!*/
/*    left: -35px;*/
/*    position: relative;*/
/*    background-color: white;*/
/*    content: '';*/
/*    display: inline-block;*/
/*    visibility: visible;*/
/*    border: 2px solid #47A1AA;*/
/*}*/

/*.p-field-radiobutton:hover:after {*/
/*    width: 11px;*/
/*    height:11px;*/
/*    border-radius: 11px;*/
/*    !*top: -18px;*!*/
/*    left: -35px;*/
/*    position: relative;*/
/*    background-color: white;*/
/*    content: '';*/
/*    display: inline-block;*/
/*    visibility: visible;*/
/*    border: 2px solid #47A1AA;*/
/*}*/


/*.p-field-radiobutton .p-radiobutton-checked{*/
/*    width: 11px;*/
/*    height:11px;*/
/*    border-radius: 11px;*/
/*    top: -18px;*/
/*    left: 4px;*/
/*    position: relative;*/
/*    background-color: white;*/
/*    content: '';*/
/*    display: inline-block;*/
/*    visibility: visible;*/
/*    border: 2px solid #47A1AA;*/
/*}*/